<div class="container-fluid login-main">
  <div class="row">
    <div class="col-6 offset-3 login-body">
      <div class="service-info">
        <h1>User Service</h1>
        <p class="welcome">Welcome to User Service area</p>
        <p>To connect with support:</p>
        <ul>
          <li class="welcome">+3097 XXX XXXX</li>
          <li class="welcome">+3097 XXX XXXX</li>
        </ul>
      </div>
      <div class="login-main">
        <h2>Sign In</h2>
        <form>
          <input type="text" name="login" placeholder="Login" />
          <input type="password" name="password" placeholder="Password" />
          <button type="submit">Sign In</button>
        </form>
      </div>
    </div>
    <div class="col-3 offset-1">

    </div>
  </div>
</div>
